<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>NAMSii</title>
    <link rel="icon" href="{% static 'images/bot-icon-green.png' %}" alt="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--script type="text/javascript" src="{% static 'js/script.js' %}"></script-->
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_blue.css' %}">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container-fluid m-0" style="padding:0; margin:0;"  >

      <div class="row g-2" style="margin:0; padding:0;">

        <div class="information col-sm-7 bg-secondary">

          <header class="row text-center">

            <div class="Headline col-sm-8 text-right">NAMSii 
              <span class="Headline2-text">Nagarro Assistant</span>
            </div>

            

            <!--img class="bot-logo" src="bot-logo.png" alt="Bot Logo"-->

          </header>




          <main class="main">

            <section class="section">

              <div class="row row2 no-gutters" style="margin: auto">

                <div class="col-sm-8 img_cont sizing2">

                  <div class="image-content">

                    <img

                      class="intro-img img-responsive sizing"

                      src="{% static 'images/intro-img_green.png' %}"

                      alt=""

                      width="500px"

                    />

                    <div class="sizing sizing2 mx-auto">

                      <button id="audiobutton" onclick="startVoiceInput()">

                        <img

                          id="micoff"

                          class="mic-icon"

                          src="{% static 'images/mic-green1.png' %}"

                          alt=""

                        />

                        <img

                        id="pulseImage"

                        src="{% static 'images/bars.gif' %}"

                        alt=""

                      />

                      </button>

                      

                    </div>

                  </div>




                  <!-- <div>

                    <div class="info">

                      <div class="info-c">

                        <h3>Initialization</h3>

                        <p>Tap on mic and say "Create a ticket"</p>

                      </div>

                      <div class="info-c">

                        <h3>Explanation</h3>

                        <p>Describe your problem by providing audio inputs</p>

                      </div>

                      <div class="info-c">

                        <h3>Realization</h3>

                        <p>

                          Ticket will get generated and unique ID will be shared

                          for future referneces

                        </p>

                      </div>

                    </div>

                  </div> -->

                </div>





              </div>

            </section>

          </main>

        </div>
          
        <div class="chatbot-container col-sm-4" style="margin: auto">

          <!--div id="header">

            <h1 id="h1">

                <img

                  class="header-icon rounded mx-auto d-block"

                  src="../static/images/bot-img.png"

                  alt=""

                />

              </h1>

          </div-->

          <div id="chatbot" class="">

            <div id="conversation">

              <div id="chat-log" class="chat-log">

                <!--p class="user-message"></p-->

                <!--p class="bot-text">Hi! 👋 it's great to see you!</p-->

              </div>

            </div>

            <!-- <form id="chat-form">

<message-container>

        <input type="text" id="entry-box" name="message" placeholder="Enter your message..">

        <button id="submit-button" type="submit">

            <img class="send-icon" src="../static/images/send-blue.png" alt="">

        </button>

    </message-container>

</form> -->

            <!--button id="audiobutton" onclick="startVoiceInput()">

    <img id="micoff" class="mic-icon" src="{% static 'images/mic-off1.png' %}" alt="">

</button-->

          </div>

        </div>
      </div>

    </div>
    
  <script>

      var duration;
      var desiredVoice = null; // Variable to store the desired voice
      var isFirstUtterance = true; // Flag variable to track the first utterance
      var desiredVoice = "US English Female"; // Specify the desired voice

      /*function fetchVoices() {
        const speechSynthesis = window.speechSynthesis;
        var voices = speechSynthesis.getVoices();
      
        // Find the desired voice by name
        desiredVoice = voices.find(function(voice) {
          return voice.name === "Microsoft Zira - English (United States)";
        });
      
        if (desiredVoice) {
          console.log("Desired voice found:", desiredVoice.name);
        } else {
          console.log("Desired voice not found in fetchVoices.");
          // Handle the case where the desired voice is not available
        }
      }
      
      // Fetch available voices
      fetchVoices();
      
      // Wait for the voices to be fetched and available
      speechSynthesis.onvoiceschanged = fetchVoices;

      function voiceOutput(text) {
        
        const speechSynthesis = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance(text);
      
        utterance.rate = 1.3;
      
        if (desiredVoice) {
          // Set the desired voice for the utterance
          utterance.voice = desiredVoice;
      
          
          utterance.onend = function(event) {
            
            if (isFirstUtterance) {
              isFirstUtterance = false;
            } else {
              startVoiceInput();
              console.log("On end event activated");
            }
          };
        
          // Start the speech synthesis
          speechSynthesis.speak(utterance);
        } 
        else {
          console.log("Desired voice not found in voiceOutput.");
          // Handle the case where the desired voice is not available
        }
      }*/

      function voiceOutput(text) {
        responsiveVoice.speak(text, desiredVoice, {
          rate: 1.3,
          onend: function() {
            if (isFirstUtterance) {
              isFirstUtterance = false;
            } 
            else {

              // List of scenarios to handle
              var scenarios = ["stop mic","I am sorry, currently I do not support sharing the Ticket status. Let me know if there is anything else I can assist you with.","Oops!!! Facing some Internal issue. Sorry for the inconvenience","Thank you for using Namsi! If you need any further assistance,Click the Mic button, and I'll be here to help you out! Goodbye!", "Ok, ending this conversation now. Please click on Mic On once ready and I will assist you.","No Input from your end. Please click on Mic Button to start again.", "abort mic", "thanks for using Namsii"];
              
               // Check if any scenario matches
              var isMatched = false;
              for (var i = 0; i < scenarios.length; i++) {
                if (text.includes(scenarios[i])) {
                  console.log("Scenario matched: " + scenarios[i]);
                  isMatched = true;
                  break; // Exit the loop once a match is found
                }
              }
        
        // Call startVoiceInput() if no match found
        if (!isMatched) {
          startVoiceInput();
        }
      }
    }
  });
}
      

      //Welcome mesaage function
      
      function WelcomeMsg() {
      

      var chatLog = document.getElementById('chat-log');
      var chatLog1 = document.createElement('div');
      chatLog1.innerHTML = `<p class="bot-text">Welcome to Namsii, the Voice Assistant who can handle all your ticket creation needs. Mic On and let me assist you!</p>`;
      chatLog.appendChild(chatLog1);
      voiceOutput("Welcome to Namsi, the Voice Assistant who can handle all your ticket creation needs. Mic On and let me assist you!");
      }

      WelcomeMsg();       

        /*document.getElementById("chat-form").addEventListener("submit", function (event) {
            event.preventDefault();
            var formData = new FormData(event.target);
            var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            formData.append('csrfmiddlewaretoken', csrftoken);

            var conversation = document.getElementById('conversation');

            var userMessage = document.getElementById('entry-box').value;
            var chatLog = document.getElementById('chat-log');

            // Clear input field
            document.getElementById('entry-box').value = '';
            const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: "2-digit" });


            let chatLog1 = document.createElement('div');

            chatLog1.innerHTML += `<p class="user-message" sentTime="${currentTime}">${userMessage}</p>`;
            conversation.appendChild(chatLog1);
            chatLog1.scrollTop = chatLog.scrollHeight;



            $.ajax({
                type: 'POST',
                url: '',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    chatLog1 = document.createElement('div');
                    console.log(response.response)
                    console.log(response.voice_output)
                    chatLog1.innerHTML += `<p class="bot-text" sentTime="${currentTime}">${response.response}</p>`;

                    

                    conversation.appendChild(chatLog1);
                    //message.scrollIntoView({behavior: "smooth"});
                    chatLog1.scrollTop = chatLog.scrollHeight;
                    chatLog1.scrollIntoView({ behavior: "smooth" });

                },
                error: function () {
                    console.log('Error occurred.');
                }
            });
        });*/

        var isSoundDetected = false;
        //var hasTimeoutStarted = false;
        let recognition; // Declare the recognition object

        function toggleMic() {
            var audiobutton = document.getElementById('audiobutton');
            let micImageOff = document.getElementById("micoff");
            let micImageOn = document.createElement("micon");
            let pulseImage = document.getElementById("pulseImage");
            
            if(micImageOff.classList.contains("mic-iconOn") )
            {
              micImageOff.classList.remove("mic-iconOn");
              pulseImage.style.display = "none";

              stopVoiceInput();
                    
            }
            else
            {
              micImageOff.classList.add("mic-iconOn");
              pulseImage.style.display = "block";
              
            }
        }
        
        function startVoiceInput() {
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
            
            toggleMic();

            var conversation = document.getElementById('conversation');
            const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: "2-digit" });


            
            recognition.onstart = function() {
              //recognition.start();
              console.log("Speech recognition started.")
             
            };

            recognition.onspeechend = () => {
              //recognition.stop();
              console.log("Speech recognition has stopped.");
              
            };
            
            recognition.onerror = (event) => {
              console.error(`Speech recognition error detected: ${event.error}`);

              if (event.error == "aborted") {

                console.log("Speech recognition aborted and stopped.");
                
                stopVoiceInput();
                return;

              }

              console.log("isSoundDetected:",isSoundDetected);
              
              if(event.error == "no-speech"){

              
                toggleMic();
                //isSoundDetected = false;

                console.log("Inside error no speech:",isSoundDetected);
               
                if (!isSoundDetected) {
                let chatLog1 = document.createElement('div');
                chatLog1.innerHTML += `<p class="bot-text">Sorry! I didn't hear you.</p>`;
                conversation.appendChild(chatLog1);
                chatLog1.scrollIntoView({ behavior: "smooth" });
                chatLog1.scrollTop = chatLog1.scrollHeight;
                voiceOutput("Sorry! I didn't hear you.");
                
               
                isSoundDetected = true;
  
                }
                else{

                  console.log("inside else of error no speech:",isSoundDetected);
                  let chatLog1 = document.createElement('div');
                  chatLog1.innerHTML += `<p class="bot-text">No Input from your end. Please click on Mic Button to start again</p>`;
                  conversation.appendChild(chatLog1);
                  chatLog1.scrollIntoView({ behavior: "smooth" });
                  chatLog1.scrollTop = chatLog1.scrollHeight;
                  voiceOutput("No Input from your end. Please click on Mic Button to start again.");
                  return;
                }
              }
            
            };

            

            /*recognition.onsoundend = (event) => {
              console.log("Sound has stopped being received");
              
            };;*/

           

            recognition.onresult = function (event) {
                var result = event.results[event.results.length - 1];
                var voiceText = result[0].transcript;
                console.log("voiceText",voiceText)
                console.log("result",result)

              // Set the user activity flag to true
              //isUserActive = true;
                    
                // audiobutton = document.getElementById('audiobutton');
                // micImageOff = document.getElementById("micoff");
                //let micImageOn = document.createElement("micon");
                // micImageOn = document.getElementById("micon");
                // micImageOn.remove(micImageOn);
                // audiobutton.innerHTML += `<img id="micoff" class="mic-icon" src="static/images/mic-blue.png" alt="">`;
                //audiobutton.appendChild(micImageOff);
                toggleMic();
                let chatLog1 = document.createElement('div');
                chatLog1.innerHTML += `<p class="user-message" sentTime="${currentTime}">${voiceText}</p>`;
                isSoundDetected = true;
                conversation.appendChild(chatLog1);
                //chatLog1.scrollTop = chatLog.scrollHeight;

                


                $.ajax({
                    type: 'POST',
                    url: '',
                    data: { 'voice_data': voiceText },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (response) {
                        chatLog1 = document.createElement('div');
                        //chatLog1.innerHTML += `<img class="botchatimg" src="static/images/botchatimg.png" alt="">`;
                        chatLog1.innerHTML += `<p class="bot-text" sentTime="${currentTime}">${response.response}</p>`;
                        
                        
                        

                        if (response.voice_output) {
                         
                              voiceOutput(response.response)
                        }


                        conversation.appendChild(chatLog1);
                        chatLog1.scrollIntoView({ behavior: "smooth" });
                        chatLog1.scrollTop = chatLog1.scrollHeight;

                        if (response.response.includes("Ok, ending this conversation now.")) {
                          
                          console.log("Closing conversation");
                          
                          return; // Exit from the code without executing the setTimeout function
                        }

                        // Check if the response contains "ticket created successfully"
                        if (response.response.includes("Ticket created successfully")) {
                          chatLog1 = document.createElement('div');
                          
                          
                          chatLog1.innerHTML += `<p class="bot-text" sentTime="${currentTime}">Thank you for using Namsi! If you need any further assistance,Click the Mic button, and I'll be here to help you out! Goodbye!</p>`;
                          conversation.appendChild(chatLog1);
                          chatLog1.scrollIntoView({ behavior: "smooth" });
                          chatLog1.scrollTop = chatLog1.scrollHeight;
                          
                          voiceOutput("Thank you for using Namsi! If you need any further assistance,Click the Mic button, and I'll be here to help you out! Goodbye!"); // Respond with "Thanks" if the condition is met
                          
                          
                          return; // Exit from the code without executing the setTimeout function
                        }

                    },
                    error: function () {
                        console.log('Error during voice input.');
                        chatLog1 = document.createElement('div');
                        chatLog1.innerHTML += `<p class="bot-text" sentTime="${currentTime}">Oops!!! Facing some Internal issue. Sorry for the inconvenience..</p>`;
                        conversation.appendChild(chatLog1);
                        chatLog1.scrollIntoView({ behavior: "smooth" });
                        chatLog1.scrollTop = chatLog1.scrollHeight;
                          
                        voiceOutput("Oops!!! Facing some Internal issue. Sorry for the inconvenience.."); // Respond with "Error Response" if the condition is met
                          
                    }
                });
              
                  
            };

            recognition.start();
        }

        function stopVoiceInput() {
          if (recognition) {
            recognition.stop();
            recognition = null;
          }
        }

    </script>
  </body>
</html>
