/* Chat container */
.chat-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
  }
  
  
  /* User message */
  .user-message {
    background-color: #e2f2ff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  /* Bot message */
  .bot-message {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  /* Chat form and input */
  #chat-form {
    display: flex;
    margin-top: 10px;
  }
  
  #entry-box {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  #chat-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }


  
  #chat-form button:hover {
    background-color: #45a049;
  }

  #audiobutton {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #audiobutton:hover {
    background-color: #45a049;
  }
  
  #audiobutton:focus {
    outline: none;
  }
  